@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent body scroll, let App handle it */
}
